body {
    font-size: 16px;
    font-family: monospace, Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageBoxStyle {
    height:400px;
    width:70%;
    border: 2px solid;
    overflow:auto;
    background-color: lavender;
}

.messageStyle {
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    height: 30px;
    width: 30px;
}

p {
    margin: 0;
    font-size: 10px;
}

.nameStyle {
    font-weight: bold;
    color: blue;
    font-size: 14px;
}

.adminInputBox {
    width:30%;
    height: 50px;
    border: 2px solid;

}